/* #c1{
    width: 100%;
    height: 70px;
    background-color: rebeccapurple;
    position: fixed;
    overflow: hidden;
    top: 0px;
} */

#c2{
    margin-top: 90px;
}
.c3{
    position: sticky;
    background-color: red;
    height: 10px;
    top: 0px;

}